<!DOCTYPE html>

<html>
    {% load staticfiles %}
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{% static "mia/img/favicon.png" %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{% static "mia/css/mia.css" %}">
        {% block head %}{% endblock %}
    </head>
    <body>
        {% if user.is_authenticated %}
        <div id="wrapper">

            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul id="sidebar_menu" class="sidebar-nav">
                    <li class="sidebar-brand"><a id="menu-toggle" href="">MIA<span id="main_icon" class="glyphicon glyphicon-align-justify"></span></a></li>
                </ul>
                <ul class="sidebar-nav" id="sidebar">
                    <li><a href="{% url "mia:index" %}">Inicio<span class="sub_icon glyphicon glyphicon-home"></span></a></li>
                    <li><a href="{% url "mia:registerPatient" %}">Agregar<span class="sub_icon glyphicon glyphicon-user"></span></a></li>
                </ul>
            </div>

            <!-- Page content -->
            <div id="page-content-wrapper">
                <!-- Keep all page content within the page-content inset div! -->
                <div class="page-content inset">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
        {% else %}
            {% block login %}
                <div style="padding-top: 10%;" class="container">
                    <div class="jumbotron col-md-4 col-md-offset-4">
                        <a href="{% url "mia:login" %}">
                        <h4 style="padding-top: 10%; text-align: center;">Iniciar sesion</h4>
                        </a>
                    </div>
                </div>
            {% endblock %}
        {% endif %}
        <script src="{% static "mia/js/mia.js" %}"></script>
        {% block footer %}{% endblock %}
    </body>
</html>