{% extends "mia/base.html" %}
{% load staticfiles %}
{% block title %}MIA{% endblock %}
{% block head %}
    <script src="{% static "mia/js/angular.min.js" %}"></script>
    <script src="{% static "mia/js/angulajs.js" %}"></script>
{% endblock %}

{% block body %}

    <div ng-app="MIA" ng-controller="search">
        <div class="col-lg-6 col-lg-offset-3">
            <form class="form-horizontal">
                {% csrf_token %}
                <div class="form-group">
                    <div class="input input-group col-md-8 col-md-offset-2">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                        <input ng-keyup="search()"  ng-model="myquery" class="form-control" placeholder="Buscar persona ...">
                    </div>
                </div>
            </form>
            <table class="table table-striped">
                <tbody ng-repeat="p in searchResult">
                <tr>
                {% verbatim %}
                    <td>{{ p.name }}</td>
                {% endverbatim %}
                </tr>
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
