{% extends "mia/base.html" %}
{% load staticfiles %}
{% block title %}{{ patient.name }}{% endblock %}

{% block head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.min.js"></script>
    <link rel="stylesheet" href="{% static "mia/css/geoposition.css" %}">
    <script src="{% static "mia/js/geoposition.js" %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3&sensor=false"></script>
{% endblock %}

{% block body %}
    <div class="container col-md-8 col-md-offset-2">
        <div class="jumbotron col-md-12">
            {% if message %}
                <div style="text-align: center; padding-bottom: 10px;" class=" col-md-8 col-md-offset-2">
                    <div class='col-md-6 col-md-offset-3 alert alert-success'>{{ message }}</div>
                </div>
            {% endif %}
            <form class="form-horizontal" method="post">
                {% csrf_token %}
                <fieldset id="form-fieldset" disabled>
                <div class="col-md-4"> <!-- First column -->
                    <div class="form-group" style="text-align: center">
                        <div>
                            <span class="text-danger small">{{ formPatient.name.errors.as_text }}</span>
                        </div>
                        <label class="control-label">{{ formPatient.name.label }}</label>
                        <div class="input-group col-md-10 col-md-offset-1">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            {{ formPatient.name }}
                        </div>
                    </div>
                    <div class="form-group" style="text-align: center">
                        <div>
                            <span class="text-danger small">{{ formPatient.documentId.errors.as_text }}</span>
                        </div>
                        <label class="control-label">{{ formPatient.documentId.label }}</label>
                        <div class="input-group col-md-10 col-md-offset-1">
                            <span class="input-group-addon"><i class="fa fa-id-card-o"></i></span>
                            {{ formPatient.documentId }}
                        </div>
                    </div>
                </div>
                <div class="col-md-4"> <!-- Second column -->
                    <div class="form-group" style="text-align: center">
                        <div>
                            <span class="text-danger small">{{ formPatient.age.errors.as_text }}</span>
                        </div>
                        <label class="control-label">{{ formPatient.age.label }}</label>
                        <div class="input-group col-md-10 col-md-offset-1">
                            <span class="input-group-addon"><i class="fa fa-birthday-cake"></i></span>
                            {{ formPatient.age }}
                        </div>
                    </div>
                </div>
                <div class="col-md-4"> <!-- Third column -->
                    <div class="form-group" style="text-align: center">
                        <div>
                            <span class="text-danger small">{{ formPatient.photo.errors.as_text }}</span>
                        </div>
                        <label class="control-label">{{ formPatient.photo.label }}</label>
                        <div class="input-group col-md-10 col-md-offset-1">
                            <span class="input-group-addon"><i class="fa fa-picture-o"></i></span>
                            {{ formPatient.photo }}
                        </div>
                    </div>
                    <div class="form-group" style="text-align: center">
                        <div>
                            <span class="text-danger small">{{ formPatient.address.errors.as_text }}</span>
                        </div>
                        <label class="control-label">{{ formPatient.address.label }}</label>
                        <div class="input-group col-md-10 col-md-offset-1">
                            <span class="input-group-addon"><i class="fa fa-home"></i></span>
                            {{ formPatient.address }}
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <h4 style="text-align: center; padding-top: 5%; padding-bottom: 2%;">Ubicacion Hogar</h4>
                    <div style="font-family: Arial, Helvetica, sans-serif; font-style: italic;">
                        {{ formPatient.map }}
                    </div>
                </div>
                </fieldset>
                <div style="padding-top: 5%;" id="hidden-button" class="col-md-8 col-md-offset-2" hidden>
                    <button id="submit-button-guardar" class="btn btn-success center-block" type="submit">Guardar Cambios</button>
                </div>
            </form>
            <div style="padding-top: 5%;" class="col-md-8 col-md-offset-2">
                <button id="submit-button-edit" class="btn btn-success center-block" type="button">Editar</button>
            </div>
        </div>
    </div>

{% endblock %}